@import '~node_modules/modern-normalize/modern-normalize.css';
//header

.header {
  height: 100px;
  background-color: gray;
}

.main-page {
  display: flex;
  flex-wrap: wrap;
}
.compound-form {
  width: 260px;
  border: solid 1px black;
}
input[type='text'] {
  width: 100%;
}

.text-input-label {
  display: flex;
}

.compound-form__compound-data {
  display: flex;
  flex-direction: column;
}

canvas {
  width: 150px;
  height: 150px;
}

.compound-form__upper-part {
  display: flex;
}

.compound-form-canvas-container {
  border: solid 1px black;
}
.compound-from__button-block {
  font-size: 14px;
}

.compound-form__single-fraction-upper-part {
  display: flex;
  border: solid 1px black;
}

.compound-form__single-fraction-characteristics {
  width: 70%;
  display: flex;
}
.compound-form__single-fraction-spectra {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.compound-form__single-fraction-lower-part {
  border: solid 1px black;
}
